apiVersion: apps/v1
kind: Deployment
metadata:
  name: expense-api-deployment
  labels:
    app: expense-tracker
    tier: backend
spec:
  # Setting initial replicas. The HPA will manage this number now.
  replicas: 2 
  selector:
    matchLabels:
      app: expense-tracker
      tier: backend
  template:
    metadata:
      labels:
        app: expense-tracker
        tier: backend
    spec:
      containers:
      - name: server
        image: vaibhavik26/expense-tracker-server:v12 
        imagePullPolicy: Never
        ports:
        - containerPort: 5000 


        resources:
          requests:
            cpu: "50m"  
            memory: "64Mi" 
          # This defines the hard limit for the pod
          limits:
            cpu: "200m" 
            memory: "128Mi" 


        env:
        - name: MONGODB_URI
          value: "mongodb+srv://usertracker:usertracker@cluster0.ir8onal.mongodb.net/expense-trackerdb?retryWrites=true&w=majority&appName=Cluster0" 
---
apiVersion: v1
kind: Service
metadata:
  name: backend-api-service 
spec:
  selector:
    app: expense-tracker
    tier: backend
  ports:
    - protocol: TCP
      port: 5000 
      targetPort: 5000 
  type: ClusterIP