apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: expense-tracker-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx" 
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - http:
      paths:

      - path: /api(/|$)(.*) # Matches /api/anything and captures the rest in $2
        pathType: ImplementationSpecific
        backend:
          service:
            name: backend-api-service
            port:
              number: 8080
      
      - path: /
        pathType: Prefix
        backend:
          service:
            name: frontend-ui-service
            port:
              number: 80 